---
import Container from '@/components/Container.astro';
---

<Container as="footer" class="pt-24">
    <p class="text-center text-muted-foreground text-sm">
        &copy; {new Date().getFullYear()}. Developed by Anup Jambhekar.
    </p>
</Container>
