---
import '@/styles/global.css';
import '@/assets/fonts/inter.css';
import { type Seo } from '@/lib/constants';
import Header from '@/components/partials/Header.astro';
import Footer from '@/components/partials/Footer.astro';
import Head from '@/components/partials/Head.astro';
import MistBackground from '@/components/MistBackground.astro';

interface Props {
    seo?: Seo;
}

const { seo } = Astro.props;
---

<html lang="en">
    <Head seo={seo}>
        <slot name="head" />
    </Head>
    <body class="text-foreground pb-12">
        <MistBackground />
        <Header />
        <main class="pt-24 relative z-10">
            <slot />
        </main>
        <Footer class="relative z-10" />
    </body>
</html>
